.loader {
  width: 70px;
  height: 70px;
  border: 8px solid #d6d6d6;
  border-bottom-color: #ffc107;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 150px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
